<style type="text/css">
  body {
    padding: 80px;
    color: #0f1d3c;
  }

  img {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  p {
    color: #0f1d3c;
  }
</style>

{if empty($never)}{$email}{/if} {if !empty($pension_fund_1)}

<img src="http://www.finsecpartners.com.au/wp-content/uploads/2013/07/FinSecLogo1.png" width="127" height="63" />

<div class="page">

  <p>To: <b>{$pension_fund_1}</b>
    <br /> {$pension_fund_1_street},
    <br /> {$pension_fund_1_suburb}, {$pension_fund_1_postcode}, United Kingdom</p>

  <p> </p>

  <p>Subject: <b>LETTER OF AUTHORITY</b></p>

  <p> </p>

  <p>To whom it may concern,</p>

  <p>Please accept this letter as my authority for you to release information concerning my pension entitlement to:</p>

  <p><b>FinSec Partners</b>
    <br /> Tel: +61 8 8357 7840
    <br /> Fax: +61 8 8373 7600
    <br /> PO Box 1096, Unley, SA 5061, Australia
    <br /> Email: transfers@finsecptx.com.au
    <br /> www.finsecptx.com.au
  </p>

  <p>Please also accept this letter as my authority for you to update your records to reflect my correct address details as shown below:</p>

  <p>Name: {$name} {if !empty($maiden)}(n&eacute;e {$maiden}){/if}
    <br /> Date of Birth: {$date_of_birth}
    <br /> Email: {$email}
    <br /> Current address: {$street}, {$suburb}, {$state} {$postcode}, Australia
    <br /> Last UK address: {$uk_street}, {$uk_suburb}, {$uk_postcode}, United Kingdom
    <br /> Period of fund scheme membership: {$pension_fund_1_period}
    <br /> Policy / Reference number: {$pension_fund_1_reference}
    <br /> National insurance number: {$pension_fund_1_insurance}</p>

  <p>Yours faithfully</p>

  <p> </p>

  <p>{$name}</p>

  <p>Signature:</p>

  <p>Today's Date:</p>

</div>

{/if} {if !empty($pension_fund_2)}

<div>
  <formfeed></formfeed>
</div>

<img src="http://www.finsecpartners.com.au/wp-content/uploads/2013/07/FinSecLogo1.png" width="127" height="63" />

<div class="page">

  <p>To: <b>{$pension_fund_2}</b>
    <br /> {$pension_fund_2_street},
    <br /> {$pension_fund_2_suburb}, {$pension_fund_1_postcode}, United Kingdom</p>

  <p> </p>

  <p>Subject: <b>LETTER OF AUTHORITY</b></p>

  <p> </p>

  <p>To whom it may concern,</p>

  <p>Please accept this letter as my authority for you to release information concerning my pension entitlement to:</p>

  <p><b>FinSec Partners</b>
    <br /> Tel: +61 8 8357 7840
    <br /> Fax: +61 8 8373 7600
    <br /> PO Box 1096, Unley, SA 5061, Australia
    <br /> Email: transfers@finsecptx.com.au
    <br /> www.finsecptx.com.au
  </p>

  <p>Please also accept this letter as my authority for you to update your records to reflect my correct address details as shown below:</p>

  <p>Name: {$name} {if !empty($maiden)}(n&eacute;e {$maiden}){/if}
    <br /> Date of Birth: {$date_of_birth}
    <br /> Current address: {$street}, {$suburb}, {$state} {$postcode}, Australia
    <br /> Last UK address: {$uk_street}, {$uk_suburb}, {$uk_postcode}, United Kingdom
    <br /> Period of fund scheme membership: {$pension_fund_2_period}
    <br /> Policy / Reference number: {$pension_fund_2_reference}
    <br /> National insurance number: {$pension_fund_2_insurance}</p>

  <p>Yours faithfully</p>

  <p> </p>

  <p>{$name}</p>

  <p>Signature:</p>

  <p>Today's Date:</p>

</div>

{/if} {if !empty($pension_fund_3)}

<div>
  <formfeed></formfeed>
</div>

<img src="http://www.finsecpartners.com.au/wp-content/uploads/2013/07/FinSecLogo1.png" width="127" height="63" />

<div class="page">

  <p>To: <b>{$pension_fund_3}</b>
    <br /> {$pension_fund_3_street},
    <br /> {$pension_fund_3_suburb}, {$pension_fund_3_postcode}, United Kingdom</p>

  <p> </p>

  <p>Subject: <b>LETTER OF AUTHORITY</b></p>

  <p> </p>

  <p>To whom it may concern,</p>

  <p>Please accept this letter as my authority for you to release information concerning my pension entitlement to:</p>

  <p><b>FinSec Partners</b>
    <br /> Tel: +61 8 8357 7840
    <br /> Fax: +61 8 8373 7600
    <br /> PO Box 1096, Unley, SA 5061, Australia
    <br /> Email: transfers@finsecptx.com.au
    <br /> www.finsecptx.com.au
  </p>

  <p>Please also accept this letter as my authority for you to update your records to reflect my correct address details as shown below:</p>

  <p>Name: {$name} {if !empty($maiden)}(n&eacute;e {$maiden}){/if}
    <br /> Date of Birth: {$date_of_birth}
    <br /> Current address: {$street}, {$suburb}, {$state} {$postcode}, Australia
    <br /> Last UK address: {$uk_street}, {$uk_suburb}, {$uk_postcode}, United Kingdom
    <br /> Period of fund scheme membership: {$pension_fund_3_period}
    <br /> Policy / Reference number: {$pension_fund_3_reference}
    <br /> National insurance number: {$pension_fund_3_insurance}</p>

  <p>Yours faithfully</p>

  <p> </p>

  <p>{$name}</p>

  <p>Signature:</p>

  <p>Today's Date:</p>

</div>

{/if} {if !empty($pension_fund_4)}

<div>
  <formfeed></formfeed>
</div>

<img src="http://www.finsecpartners.com.au/wp-content/uploads/2013/07/FinSecLogo1.png" width="127" height="63" />

<div class="page">

  <p>To: <b>{$pension_fund_4}</b>
    <br /> {$pension_fund_4_street},
    <br /> {$pension_fund_4_suburb}, {$pension_fund_1_postcode}, United Kingdom</p>

  <p> </p>

  <p>Subject: <b>LETTER OF AUTHORITY</b></p>

  <p> </p>

  <p>To whom it may concern,</p>

  <p>Please accept this letter as my authority for you to release information concerning my pension entitlement to:</p>

  <p><b>FinSec Partners</b>
    <br /> Tel: +61 8 8357 7840
    <br /> Fax: +61 8 8373 7600
    <br /> PO Box 1096, Unley, SA 5061, Australia
    <br /> Email: transfers@finsecptx.com.au
    <br /> www.finsecptx.com.au
  </p>

  <p>Please also accept this letter as my authority for you to update your records to reflect my correct address details as shown below:</p>

  <p>Name: {$name} {if !empty($maiden)}(n&eacute;e {$maiden}){/if}
    <br /> Date of Birth: {$date_of_birth}
    <br /> Current address: {$street}, {$suburb}, {$state} {$postcode}, Australia
    <br /> Last UK address: {$uk_street}, {$uk_suburb}, {$uk_postcode}, United Kingdom
    <br /> Period of fund scheme membership: {$pension_fund_4_period}
    <br /> Policy / Reference number: {$pension_fund_4_reference}
    <br /> National insurance number: {$pension_fund_4_insurance}</p>

  <p>Yours faithfully</p>

  <p> </p>

  <p>{$name}</p>

  <p>Signature:</p>

  <p>Today's Date:</p>

</div>

{/if} {if !empty($pension_fund_5)}

<div>
  <formfeed></formfeed>
</div>

<img src="http://www.finsecpartners.com.au/wp-content/uploads/2013/07/FinSecLogo1.png" width="127" height="63" />

<div class="page">

  <p>To: <b>{$pension_fund_5}</b>
    <br /> {$pension_fund_5_street},
    <br /> {$pension_fund_5_suburb}, {$pension_fund_5_postcode}, United Kingdom</p>

  <p> </p>

  <p>Subject: <b>LETTER OF AUTHORITY</b></p>

  <p> </p>

  <p>To whom it may concern,</p>

  <p>Please accept this letter as my authority for you to release information concerning my pension entitlement to:</p>

  <p><b>FinSec Partners</b>
    <br /> Tel: +61 8 8357 7840
    <br /> Fax: +61 8 8373 7600
    <br /> PO Box 1096, Unley, SA 5061, Australia
    <br /> Email: transfers@finsecptx.com.au
    <br /> www.finsecptx.com.au
  </p>

  <p>Please also accept this letter as my authority for you to update your records to reflect my correct address details as shown below:</p>

  <p>Name: {$name} {if !empty($maiden)}(n&eacute;e {$maiden}){/if}
    <br /> Date of Birth: {$date_of_birth}
    <br /> Current address: {$street}, {$suburb}, {$state} {$postcode}, Australia
    <br /> Last UK address: {$uk_street}, {$uk_suburb}, {$uk_postcode}, United Kingdom
    <br /> Period of fund scheme membership: {$pension_fund_5_period}
    <br /> Policy / Reference number: {$pension_fund_5_reference}
    <br /> National insurance number: {$pension_fund_5_insurance}</p>

  <p>Yours faithfully</p>

  <p> </p>

  <p>{$name}</p>

  <p>Signature:</p>

  <p>Today's Date:</p>

</div>

{/if}
