{{#extend "layout"}}

  {{#replace "meta"}}
    <title>About | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}about{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Who we are</h1>
        <a href="#intro">
          <img src="/assets/img/landing/banner-arrow.svg" alt="" /></a>
      </div>
    </section>



    <section id="intro">
      <div>
        <h2>FinSec PTX is a specialist pension transfer service of FinSec Partners. The PTX team are QROPS experts dedicated to helping British migrants and returning Australian citizens get the most out of their UK pension funds.</h2>
        <p>People migrating from the UK to Australia and Australians returning after working in the UK, need to consider several factors when determining what to do with any pension funds they have accumulated. The rules and laws that cover how, when and
          where funds can be transferred are complex and often built on shifting sands. Getting expert advice could potentially save you thousands of dollars.</p>
        <p>Lead by two of Australia's most respected UK pension transfer specialists, the FinSec PTX service combines a comprehensive knowledge of Australian superannuation, the UK legislative environment and pension fund complexities to provide clarity
          around the feasibility and cost of transferring your preserved UK benefits to Australia. </p>
        <p>Transfer advice considers taxation, currency and market fluctuations to provide the comparative analysis required to make an informed and confident transfer decision. </p>
        <p>If and when a transfer is deemed to be the correct course of action, FinSec's authorised advisers will arrange a compliant transfer from your UK scheme to your Australian fund. </p>
        <p>Our end-to-end service delivers a cost effective solution that assures total peace of mind for a safe and secure pension transfer.</p>
      </div>
    </section>

    <section id="profiles">
      <div id="david">
        <div class="text">
          <h2>David Ford</h2>
          <p>David Ford our senior adviser has been in the UK industry since 1980 holding various positions, latterly advising employers and trustees on scheme design, administration and technical aspects of UK pension arrangements.</p>
          <p>Emigrating to Australia in 1996, David can readily relate to the experiences that migrant clients go through as they take up residency; particularly the impact changing worlds has on their finances and retirement security.</p>
          <p>Co-founding Pension Transfers Direct in 1997 and pioneering the pension transfer industry in Australia, David's advice and direction has been sought after by financial advisory businesses and their planners throughout the country.</p>
          <p>Qualified in both the United Kingdom and Australia by examination, David also has the vital connections with professional and regulatory bodies as well as many of the product providers in Australia and the UK.</p>
        </div>
        <div class="img">
          <img src="/assets/img/about/finsecptx-david-ford@2x.jpg" width="1200" height="1290" alt="David Ford FinSec PTX" />
        </div>
      </div>
      <div id="scott">
        <div class="img">
          <img src="/assets/img/about/finsecptx-scott-noell@2x.jpg" width="1200" height="1290" alt="Scott Noell FinSec PTX" />
        </div>
        <div class="text">
          <h2>Scott Noell</h2>
          <p>With 30 years experience in the financial planning industry, Scott Noell is a partner and key driver of the FinSec Partners business. Scott built his impressive career foundations specifically within insurance and superannuation before applying
            himself to more holistic financial planning practices.</p>
          <p>Over the last 15 years Scott has actively developed the pension transfer business within FinSec, originally in a working relationship with Pension Transfers Direct and now via FinSec's specialist transfer service FinSec PTX.</p>
          <p>Scott's main strength is working with clients to not only facilitate the pension transfer but to ensure that the proceeds are integrated with their Australian assets, in a manner that will best allow them to achieve their goals and objectives.</p>
          <p>Scott is very passionate that he delivers real value to our clients' lives; and will do this by challenging their thinking and partnering them on their journey. Married to Jenny and the proud father of two adult boys, Scott is both an avid golfer
            and a keen traveller.</p>
        </div>
      </div>
    </section>

    <section id="process">
      <div>
        <h2>What to expect <span>Our fully integrated pension transfer solution</span></h2>

        <ul class="steps">

          <li class="active">
            <h3><span>Fact finding</span></h3>
            <div class="img">
              <img src="/assets/img/about/process-step-1.svg" alt="" />
            </div>
            <div class="desc">
              <h4>1 of 6</h4>
              <p>Together we will discuss the issues or gaps that need to be addressed to meet your financial and lifestyle objectives. You can then decide with confidence if you want comprehensive advice or advice limited to your UK Pension Transfer.</p>
              <ul>
                <li>Financial Objectives &amp; Concerns</li>
                <li>UK Pension &amp; Australian Super details</li>
                <li>Broader personal and financial information (if comprehensive advice required)</li>
              </ul>
            </div>
          </li>

          <li>
            <h3><span>Design a solution</span></h3>
            <div class="img">
              <img src="/assets/img/about/process-step-2.svg" alt="" />
            </div>
            <div class="desc">
              <h4>2 of 6</h4>
              <p>Based on the information you provide and our knowledge and expertise, we will design a solution to bridge the gap between where you are now and where you want to be.</p>
              <ul>
                <li>Should you transfer from UK to Australia?</li>
                <li>Comparison of your current Australian arrangements</li>
                <li>Transfer strategy and currency considerations</li>
                <li>Ensure transfer is compliant in UK and Australia</li>
                <li>Broader financial planning strategies (if required)</li>
              </ul>
            </div>
          </li>

          <li>
            <h3><span>Present &amp; discuss</span></h3>
            <div class="img">
              <img src="/assets/img/about/process-step-3.svg" alt="" />
            </div>
            <div class="desc">
              <h4>3 of 6</h4>
              <p>Present and discuss our personalised advice and recommendations</p>
              <ul>
                <li>Benefits of proceeding with advice</li>
                <li>Consequences of not proceeding with advice</li>
                <li>What are the next steps?</li>
              </ul>
            </div>
          </li>

          <li>
            <h3><span>Implement Advice</span></h3>
            <div class="img">
              <img src="/assets/img/about/process-step-4.svg" alt="" />
            </div>
            <div class="desc">
              <h4>4 of 6</h4>
              <p>If proceeding, we facilitate the transfer to Australia</p>
              <ul>
                <li>Transfer to or establish a ROPs Compliant Super Fund</li>
                <li>Facilitate UK Independent Financial Adviser analysis (if required)</li>
                <li>Liaise with UK fund to secure payment</li>
                <li>Implement any broader financial planning recommendations</li>
              </ul>
            </div>
          </li>

          <li>
            <h3><span>Financial Planning Advice*</span></h3>
            <div class="img">
              <img src="/assets/img/about/process-step-5.svg" alt="" />
            </div>
            <div class="desc">
              <h4>5 of 6</h4>
              <p>If not already addressed we feel it is critical to consider*:</p>
              <ul>
                <li>What Australian Super structures should be maintained or consolidated?</li>
                <li>Strategic advice:</li>
                <ul>
                  <li>Retirement Planning</li>
                  <li>Investment Approach tailored to your objectives and risk profile</li>
                  <li>Personal Insurance &amp; Estate Planning considerations</li>
                </ul>
              </ul>
            </div>
          </li>

          <li>
            <h3><span>Ongoing Review *</span></h3>
            <div class="img">
              <img src="/assets/img/about/process-step-2.svg" alt="" />
            </div>
            <div class="desc">
              <h4>6 of 6</h4>
              <p>As time goes on and your circumstances, legislation and markets change, it’s important your situation is reviewed regularly to ensure you remain on track to achieving your objectives.</p>
            </div>
          </li>

        </ul>
        <p class="disclaimer">*If you have an existing Financial Planner they will provide this advice.</p>

      </div>
    </section>

    <section id="outro">
      <div>
        <h2>Without the correct advice it is impossible to know whether a transfer is in your best interests or not, yet alone whether it can be carried out correctly.</h2>
        <p>Regardless of intent, simple mistakes made out of a lack of understanding can have a lifelong impact, often costing
          <nobr>thousands of dollars.</nobr>
        </p>
        <p>FinSec PTX are at the forefront of both UK and Australian legislation and have become experts in interpreting its impact on the transfer process - a key reason why other advisers outsource this area of expertise to us.</p>
      </div>
    </section>

    {{> ask-us}}

  {{/replace}}
{{/extend}}
