{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Am I eligible to transfer my UK Pension to Australian Super - FinSecPTX</title>
    <meta name="description" content="Get an overview of what Finsec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}eligibility{{/replace}}

  {{#replace "main"}}

    {{> coming-soon}}

    <section id="overview">
      <div>
        <h1>Eligibility form</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
