{{#extend "layout"}}

  {{#replace "meta"}}
    <title>FinSec PTX - Leaders in transfering UK pensions to Australian supers</title>
    <meta name="description" content="Experts in transfering UK pensions to Australian superannuations">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1><span>Leaders in </span>UK pension transfers to Australian super funds</h1>
        <div>
          <a href="{{formLink}}" title="{{formTitle}}" class="button big">Am I eligible?</a>
        </div>
        <a href="#intro" class="button arrow"></a>
      </div>
    </section>

    <section id="intro">
      <div>
        <h2>Moved or returned to Australia for a better life? <span>We are passionate about making sure this happens.</span></h2>
        <p>Recently both the UK and Australian Governments changed the rules for those of us wanting to transfer our UK pensions. Theses changes do add complexity, yet a transfer still remains advantageous in most cases. We make it our business to simplify the complex, so you can sit back and enjoy the move and let our QROPS specialists do their job.</p>
        <ul>
          <li>
            <img src="/assets/img/landing/expertise.svg" width="100" height="100" alt="expertise in UK Pension transfers" />
            <h3>Expertise</h3>
            <i class="icon arrow"></i>
            <p>Our experts have earnt the trust of thousands with over 15 years experience in the pension transfer process.</p>
          </li>
          <li>
            <img src="/assets/img/landing/unique-approach.svg" width="100" height="100" alt="unique approach" />
            <h3>Unique Approach</h3>
            <i class="icon arrow"></i>
            <p>Our approach makes the complex simple.</p>
          </li>
          <li>
            <img src="/assets/img/landing/success-based.svg" width="100" height="100" alt="success based" />
            <h3>Success Based</h3>
            <i class="icon arrow"></i>
            <p>Our fees are based on the success of your transfer.</p>
          </li>
        </ul>
      </div>
    </section>

    <section id="articles">
      <div>
        <h2>Keep Informed</h2>
        <ul>
          <li>
            <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Made up article title to demonstrate layout and legibility</h3>
            <p>14th June 2016</p>
            <a href="/legislation-changes"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post regression analysis changes due in 2018</h3>
            <p>14th June 2016</p>
            <a href="/legislation-changes"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/legislation-changes"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li class="ayem-special">
            <p>Keep up to date with all of the current issues affecting UK Pension Transfers</p>
            <a href="{{formLink}}" title="formTitle" class="button">Keep me informed</a>
          </li>
        </ul>
      </div>
    </section>

    <section id="links">
      <div>
        <h2>Discover if it's time to transfer</h2>
        <ul>
          <li><a href="/services" class="button">Find out here</a></li>
          <li><a href="/contact" class="button">Talk to a QROPS specialist</a></li>
          <li><a href="{{pathPensionTransferGuide}}" class="button" target="_blank">Download the pension transfer <nobr>guide (PDF)</nobr></a></li>
        </ul>
      </div>
    </section>

    <section id="get-in-touch">
      <div>
        <h2>Providing personalised advice Australia wide</h2>
        <div class="address">
          <p><strong>FinSec PTX</strong> Head Office,
            <nobr>Level 1, 10 Greenhill Road,</nobr>
            <nobr>Wayville, SA 5034</nobr>
          </p>
          <p>
            <nobr>Phone: <a href="tel:1300000000" target="_blank">1300 000 000</a>,</nobr>
            <nobr>Email: <a href="mailto: admin@finsecptx.com.au" target="_blank">admin@finsecptx.com.au</a></nobr>
          </p>
        </div>
        <div class="duo">
          <div class="img">
            <img src="/assets/img/landing/david-ford-scott-noell-finsec-ptx.png" alt="David Ford Scott Noell Finsec PTX" width="463" height="435" />
          </div>
          <div class="call david">
            <h3>David Ford</h3>
            <p>Working in UK Pensions since 1980, David emigrated from the UK to Australia in 1996 and is a leading expert in Pension Transfers to Australia.</p>
            <a href="tel:0424777888" target="_blank" class="button"><span class="name">Call David</span><span class="phone">0424 777 888</span></a>
          </div>
          <div class="call scott">
            <h3>Scott Noell</h3>
            <p>Financial Adviser with 30 years experience, the last 15 as a UK pension transfer specialist</p>
            <a href="tel:0424777888" target="_blank" class="button"><span class="name">Call Scott</span><span class="phone">0424 777 888</span></a>
          </div>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
