{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Finsec PTX</title>
    <meta name="description" content="Experts in transfering UK pensions to Australian superannuations">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Hero</h1>
      </div>
    </section>

    <section id="intro">
      <div>
        <h2>Intro</h2>
      </div>
    </section>

    <section id="features">
      <div>
        <h2>Features</h2>
      </div>
    </section>

  {{/replace}}
{{/extend}}
