{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Announced ban on pension cold callers | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}article{{/replace}}

  {{#replace "main"}}

    <section>

      <div>
        {{> back-button}}

        <h2>Pension cold callers who prey on the elderly will be banned, Philip Hammond to announce</h2>
        <p>19th November 2016</p>

        <img src="/assets/img/legislation-changes/keepinformed_1.jpg">

        <p>Pension cold callers who prey on the elderly and trick them into giving up their life savings will be banned, the Chancellor will announce next week.</p>
        <p>More than 11 million pensioners are being targeted annually by cold callers with fraudsters making 250 million calls a year - equivalent to eight every second.</p>
        <p>Philip Hammond, the Chancellor, will use his Autumn Statement to introduce a ban enforced by fines of up to £500,000 for companies that break the rules.</p>
        <p>It comes after The Telegraph revealed last month that ministers, the industry and campaigners have been pressing Mr Hammond to bring in a ban.</p>
        <p>There is widespread concern that the cold-callers have been exploiting the Government's pension freedoms to trick people into handing over their savings.</p>
        <p>Mr Hammond will also announce plans to give pension funds the power to block suspicious transfers without checks being made.</p>
        <p>The ban will form part of a series of measures intended to help those who are "just about managing" to get by, a group described by officials as the "jams".</p>
        <p>After years of targeting the "squeezed middle", the Conservatives are now focusing on working-class voters who feel that they have been "left behind".</p>
        <p>Mr Hammond is expected to freeze fuel duty and is also considering cuts to air passenger duty and the introduction of new childcare subsidies.</p>
        <p>He is also examining plans to accelerate increases in the tax-free personal allowance and preparing to unveil a new package of investment in Britain's roads and railways.</p>
        <p>However he is likely to be hampered by bleak official forecasts, which are expected to show that the UK faces an additional deficit bill of up to £100 billion over the next four years because of Brexit.</p>
        <p>The analysis by the Office for Budget Responsibility is likely to provoke a political row as senior Conservative MPs have repeatedly cast doubt on the forecaster's accuracy.</p>
        <p>The move to ban pensions cold calling was widely welcomed last night. Baroness Altmann, a former pensions minister who has been pushing for the ban, welcomed the announcement.</p>
        <p>She said: "This is long overdue. It's really important to do whatever we can to protect he public against such fraudsters.</p>
        <p>"Vulnerable people are losing their entire life savings, we can now give the clear message that if someone contacts you out of the blue, they are breaking the law."</p>
        <p>Under the Government's pension freedoms, which were introduced last year, workers are able to use their pension pots like bank accounts and withdraw thousands of pounds to save, invest or spend as they wish.</p>
        <p>However there is mounting evidence that fraudsters are using the freedoms to trick people into parting with their life savings by cold calling them with offers of "once-in-a-lifetime" investment opportunities.</p>
        <p>In many cases the investment turns out to be "non-existent" and people lose all or a significant proportion of their retirement savings.</p>
        <p>Police have disclosed that reported fraud has risen from £10 million in the year before freedoms were introduced to £18 million in the year after.</p>
        <p>Despite more than 2,000 cases of pension fraud being referred to the police in the past three years, just seven people have been arrested.</p>
        <p>Under the Government's plans, businesses will be barred from contacting people unless they have an existing relationship with them.</p>
        <p>The ban will extend to scammers targeting people who inadvertently opt-in to receive communications from third parties.</p>
        <p>The Information Commissioner will enforce the ban, with the power to fine companies who break the law up to £500,000.</p>
        <p>Ministers will also launch a consultation on plans to give pension firms the power to block suspicious transfers and proposals to make it harder for fraudsters to open scam pension schemes.</p>
        <p>Steve Webb, a former Liberal Democrat pensions minister, said: "It's very good news. It has been talked about for a long time, and once this is in place Britain's savers can sleep safer at night."</p>

        <p>Author: <strong>Steven Swinford</strong>, Deputy Political Editor, The Telegraph</p>
        <p>Source: <a href="http://www.telegraph.co.uk/news/2016/11/19/pension-cold-callers-who-prey-on-the-elderly-will-be-banned-phil/" target="_blank">http://www.telegraph.co.uk/news/2016/11/19/pension-cold-callers-who-prey-on-the-elderly-will-be-banned-phil/</a></p>

        {{> back-button}}
      </div>

    </section>

  {{/replace}}
{{/extend}}
