{{#extend "layout"}}

  {{#replace "meta"}}
    <title>The Less is More Budget: A FinSec Verdict | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}article{{/replace}}

  {{#replace "main"}}

    <section>

      <div>
        {{> back-button}}

        <h2>UK Budget puts a stop to Pension Scams introducing 25% tax on QROPS Transfers</h2>
        <p>31st March 2017</p>
        <img src="/assets/img/legislation-changes/keepinformed-march-thumb.jpg" width="560" height="356" alt="" />
        <p>QROPS continue to be a hobbyhorse for the UK government largely in a bid to fend off offshore pension scams. The UK Budget announced on 9th March 2017 made further changes impacting upon transfers of UK tax relieved pension funds to QROPS.</p>
        <p>Information on these changes and how they may impact you is outlined below.</p>
        <h3>What was announced:</h3>
        <ol>
          <li>
            <p><strong>All UK pension transfers to offshore QROPS schemes will be subject to a 25% tax unless certain limited conditions are met including the requirement that both the individual and the scheme reside in the same country.</strong></p>
            <p>Transfers to Australian superannuation schemes where you and the receiving scheme are both resident in Australia, and remain so for 5 clear UK tax years, are not affected.</p>
            <p>Effective 9 March 2017 (applies to all transfers made on or after 9 March 2017).</p>
            <p><strong>This new rule will also not apply if:</strong></p>
            <ul>
              <li>Post transfer the receiving QROPS scheme and the individual reside in different countries within the EEA (an EU Member State, Norway, Iceland or Liechtenstein) i.e. The EEA will be considered a ‘single country’ for transfer purposes.</li>
              <li>The QROPS is an occupational pension scheme sponsored by the individual's employer</li>
              <li>The QROPS is an overseas public service pension and the individual is employed by one of the employers participating in the scheme</li>
              <li>The QROPS is a pension scheme established by an international organisation and the individual is employed by that international organisation.</li>
            </ul>
          </li>
          <li>
            <p><strong>Transfers received by a QROPS on or after 6 April 2017 will now be subject to new taxing provisions for five full UK tax years from the date of transfer</strong></p>
            <p>Effective 9 March 2017 (applies to all transfers made on or after 6 April 2017)</p>
          </li>
          <li>
            <p><strong>The QROPS control period increases to ten full UK tax years from your date of last UK residency.</strong></p>
            <p>Effective 9 March 2017 (applies to all transfers made on or after 6 April 2017)</p>
          </li>
        </ol>
        <h3>Who will be impacted by these changes</h3>
        <p><strong>Individuals intending to transfer their UK pension will be affected if:</strong></p>
        <ul>
          <li>The receiving QROPS scheme is not in the same country as their country of residence. <br>Example: To avoid a 25% HMRC tax all individuals residing within Australia who transfer their UK pension on or after 9 March 2017 must ensure the receiving
            QROPS scheme is also in Australia. <br>Note: This does not apply if you and the receiving scheme reside within the EEA or you are transferring into an occupational scheme or overseas public service pension (refer 1. What was announced).</li>
          <li>All transfers received by a QROPS on or after 6 April 2017 will be subject to new tax provisions. Meaning, any payments you make out of the QROPS for 5 full UK tax years from the date of transfer will now be subject to tax.</li>
          <li>If an individual becomes resident in another country within 5 UK tax years of making their original tax free transfer, HMRC will treat this transfer as if the original exemption did not apply and your pension will be subject to the 25% tax.</li>
        </ul>
        <p><strong>Individuals intending to transfer their UK pension will not be affected if:</strong></p>
        <ul>
          <li>You reside in the same country as your QROPS transfer.</li>
          <li>You do not make any payments out of the receiving QROPS for 5 full UK tax years post the transfer (regardless of residency).</li>
          <li>You remain a resident in the same country as your QROP for 5 full UK tax years post the transfer.</li>
          <li>You and the receiving scheme reside within the EEA or you are transferring into an occupational scheme or overseas public service pension.</li>
        </ul>
        <h3>Additional Information</h3>
        <p>In circumstances where your transfer is subject to the new tax:</p>
        <ul>
          <li>The 25% tax will apply to the full transfer value.</li>
          <li>The 25% tax will be deducted by the scheme making the transfer and before the transfer is made.</li>
        </ul>
        <p>All Finsec PTX clients impacted by these changes have been contacted to ensure continued compliance.</p>
        <p>If you are not a client and have a UK pension please <a href="/contact">contact us</a> to discuss your options or click <a href="/keep-me-informed">here</a> to receive further information regarding these changes.</p>

        {{> back-button}}
      </div>
    </section>

  {{/replace}}
{{/extend}}
