{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Services | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}services{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Everything you need in one integrated solution</h1>
        <a href="#intro">
          <img src="/assets/img/landing/banner-arrow.svg" alt="" />
        </a>
      </div>
    </section>

    <section id="over-55">
      <div>
        <div>
          <h2>Over 55 years old? <span>It's time to act now.</span></h2>
          <p>Over 55 SMSF QROPS transfer service includes:</p>
          <ul>
            <li>A complimentary report that considers your circumstances to determine if it is worth transferring and why.</li>
            <li>Establishing a ROPS certified Self Managed Superannuation Fund (SMSF) for a compliant transfer.</li>
            <li>Application to HMRC for ROPS status.</li>
            <li>Fund registration with the Australian Tax Office (ATO).</li>
            <li>A fully integrated (UK & Australia) service that tracks and manages your funds through to their deposit into your Australian Fund in an efficient and compliant manner.</li>
            <li>Provision of post transfer advice to ensure your funds are integrated appropriately and set-up to effectively maximise their investment and estate planning opportunities.</li>
          </ul>
        </div>
        <div>
          <img src="/assets/img/services/over-55.svg" width="355" height="355" alt="" />
          <div>
            <a href="/form" class="button big">Get started</a>
            <a href="/keep-me-informed" class="button big">Keep me informed</a>
          </div>
        </div>
      </div>
    </section>

    <section id="below-55">
      <div>
        <div>
          <h2>Between 45 and 54 years old? <span>Time to prepare</span></h2>
          <p>Under current rules you are not yet eligible to transfer your funds to Australia, however preparing now could save you thousands of dollars and protect against future legislative change.</p>
          <p>Our 45 – 54 service includes strategic advice to maximise your future transfer options &amp; retirement position by:</p>
          <ul>
            <li>Considering locking away historically high cash equivalent transfer values.</li>
            <li>Considering what can be implemented in Australia and the UK to maximise your long term financial and transfer objectives.</li>
            <li>Providing strategies to assist those with large transfer values who could be in breach of Australian contribution limits.</li>
            <li>Maximising your British State Pension and Australian Centrelink entitlements.</li>
          </ul>
        </div>
        <div>
          <img src="/assets/img/services/between-45-55.svg" width="355" height="355" alt="" />
          <div>
            <a href="/contact" class="button big">Talk to a QROPS specialist</a>
            <a href="/keep-me-informed" class="button big">Keep me informed</a>
          </div>
        </div>
      </div>
    </section>

    <section id="below-45">
      <div>
        <div>
          <h2>Under 45 years old? <span>You're a way off being able to transfer but there is still work to be done.</span></h2>
          <p>Our under 45 service includes:</p>
          <ul>
            <li>A complimentary consultation to review your financial plan.</li>
            <li>Structuring your finances to allow you to successfully navigate the rules of 2 countries and maximise your outcomes.</li>
            <li>Providing you with retirement projections given the possible different scenarios.</li>
            <li>Determining if your family has any insurance gaps given the tax treatment of death and total & permanent disablement benefits payable from a UK pension.</li>
            <li>Reviewing your estate planning arrangements.</li>
          </ul>
        </div>
        <div>
          <img src="/assets/img/services/under-45.svg" width="355" height="355" alt="" />
          <div>
            <a href="/contact" class="button big">Talk to a QROPS specialist</a>
            <a href="/keep-me-informed" class="button big">Keep me informed</a>
          </div>
        </div>
      </div>
    </section>

    {{> ask-us}}

  {{/replace}}
{{/extend}}
