{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Services | FinSecPTX</title>
    <meta name="description" content="Get an overview of what Finsec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}services{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Everything you need in one integrated solution</h1>
        <a href="#over-55" class="button arrow"></a>
      </div>
    </section>

    <section id="over-55">
      <div>
        <div>
          <h2>Over 55 years old? <span>It's time to act now.</span></h2>
          <p>For over 55 SMSF QROPS Transfers We will:</p>
          <ul>
            <li>Advise if it is worth transferring and why.</li>
            <li>Establish a QROPS registered SMSF to ensure a transfer can occur</li>
            <li>Provide a fully integrated (UK &amp; Australia) transfer service to ensure your funds are deposited into your Australian Fund in an efficent and compliant manner</li>
            <li>Provide post transfer advice to ensure you integrate the funds appropriately and to allow you to maximise your ability to meet your finacial goals and objectives</li>
          </ul>
        </div>
        <div>
          <img src="/assets/img/services/over-55.svg" width="355" height="355" alt="" />
          <div>
            <a href="/eligibility-test-UK-pension-Australian-super-transfer" class="button big">Get started</a>
            <a href="/legislation-changes" class="button big">Keep me informed</a>
          </div>
        </div>
      </div>
    </section>

    <section id="below-55">
      <div>
        <div>
          <h2>Between 45 and 54? <span>Time to prepare</span></h2>
          <p>We will provide Strategic Advice to maximise your future transfer options &amp; retirement position by:</p>
          <ul>
            <li>Considering locking away historically high Cash Equivalent Transfer Values and to protect the ability to transfer in the future</li>
            <li>Considering what can be implemented in Austraila and the UK to ensure you can maximise your ability to achieve your long term objectives</li>
            <li>Providing strategies to assist those of you with large transfer values and likely to breach the current and proposed Australian contribution limits</li>
            <li>Maximising your British State Pension and Australian Centrelink entitlements</li>
          </ul>
        </div>
        <div>
          <img src="/assets/img/services/between-45-55.svg" width="355" height="355" alt="" />
          <div>
            <a href="/eligibility-test-UK-pension-Australian-super-transfer" class="button big">Contact our experts</a>
            <a href="/legislation-changes" class="button big">Keep me informed</a>
          </div>
        </div>
      </div>
    </section>

    <section id="below-45">
      <div>
        <div>
          <h2>Under 45? <span>You're a way off being able to transfer, but we can still assist you.</span></h2>
          <p>We will help you plan to meet your retirement objectives by:</p>
          <ul>
            <li>Structuring your finances to allow you to successfully navigate the rules of 2 countries and maximise your outcomes</li>
            <li>Providing you with retirement projections given the possible different scenarios</li>
            <li>Determining if your family has any insurance gaps given the tax treatment of death and Total &amp; Permanent disablement benefits payablefrom a UK pension</li>
            <li>Reviewing your Estate Planning arrangements</li>
          </ul>
        </div>
        <div>
          <img src="/assets/img/services/under-45.svg" width="355" height="355" alt="" />
          <div>
            <a href="/eligibility-test-UK-pension-Australian-super-transfer" class="button big">Contact our experts</a>
            <a href="/legislation-changes" class="button big">Keep me informed</a>
          </div>
        </div>
      </div>
    </section>

    {{> ask-us}}

  {{/replace}}
{{/extend}}
