<section id="coming-soon">
  <div>
    <img src="/assets/img/finsec-ptx-logo.svg" alt="logo Finsec PTX" width="281" height="46" />
    <h1>We're hard at work</h1>
    <h2>Website coming soon</h2>
  </div>
</section>
