<footer>

  <section id="legal">
    <div>
      <div>
        <a href="http://www.finsecpartners.com.au" target="_blank" title="Financial Planning Services, wealth creation and retirement planning, risk and insurance analysis" class="logo finsec">
          <img src="/assets/img/footer/finsec-partners-footer-logo.png" alt="Finsec Partners logo" />
        </a>

      </div>

      <h3>FinSec PTX is a specialist service of <a href="http://www.finsecpartners.com.au/" title="Professional Financial Planners in Adelaide" target="_blank">FinSec Partners Pty Ltd.</h3>
      <p><a href="http://finsecpartners.com.au" target="_blank" title="ABN details of Finsect Partners Pty Ltd">FinSec Partners Pty Ltd (ABN 98 135 591 829)</a>, is a corporate authorised representative of <a href="http://kaizenwealth.com.au" target="_blank"
            title="ABN details of Kaizen Wealth Pty Ltd">Kaizen Wealth Pty Ltd. ABN 19 608 040 062</a>
        <nobr>AFSL 480 797</nobr>
      </p>
    </div>
  </section>

  <section id="nav">
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/legislation-changes">Keep informed</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/disclaimer">Disclaimer</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="http://www.finsecpartners.com.au/wp-content/uploads/2016/08/FSG_Kaizen-Wealth_1.2-19_August_2016_electronic.pdf" target="_blank">FSG</a></li>
      </ul>
    </div>
  </section>

  <section id="copyright">
    <div>
      <p>Copyright 2016 Finsec Partners. Website by <a href="http://hannahsuttondesign.com/" target="_blank" title="Graphic Design studio in Melbourne by Hannah Sutton" class="hannah">Hannah Sutton Design</a></p>
    </div>
  </section>

</footer>
