<footer>

  <section id="links">
    <div>
      <ul>
        <li><a href="#">Some link</a></li>
        <li><a href="#">Some link</a></li>
        <li><a href="#">Some link</a></li>
      </ul>
    </div>
  </section>

  <section id="legal">
    <div>
      <p>Copyright 2016 Finsec PTX</p>
    </div>
  </section>

</footer>
