<footer>

  <section id="links">
    <div>
      <ul>
        <li><a href="#">Licensee</a></li>
        <li><a href="#">Information</a></li>
        <li><a href="#">FSG</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Policy</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Considerations</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </section>

  <section id="legal">
    <div>
      <p>FinSecPTX is a part of <a href="#">FinSec Partners</a>.</p>
      <p>FinSec Partners Pty Ltd (ABN 98 135 591 829), is a corporate authorised representative of Kaizen Wealth Pty Ltd. ABN 19 608 040 062 AFSL 480 797</p>
      <p>Copyright 2016 Finsec Partners. Site by <a href="#">Hannah Sutton Design</a></p>
    </div>
  </section>

</footer>
