<header>
  <div>

    <nav>
      <a href="/">
        <img src="/assets/img/finsec-ptx-logo.svg" alt="logo Finsec PTX" width="20" height="20" />
      </a>
      <div>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/keep-informed">Keep Informed</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>
