<header>
  <div>
    <nav>
      <a href="/" class="logo">
        <img src="/assets/img/header/finsec-ptx-logo.svg" alt="logo FinSecPTX" width="281" height="46" />
      </a>
      <button>Menu <i class="icon burger"><span></span></i></button>
      <div class="menu">
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/keep-informed">Keep Informed</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
