{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Autumn Statement closes pension tax relief loophole for over-55s | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}article{{/replace}}

  {{#replace "main"}}

    <section>

      <div>
        {{> back-button}}

        <h2>Autumn Statement closes pension tax relief loophole for over-55s</h2>
        <p>23rd November 2016</p>

        <img src="/assets/img/legislation-changes/keepinformed_2.jpg" width="560" height="356" alt="" />

        <p>The amount you can save into a pension - once you have already taken some money out - has been slashed by the Government in a bid to clamp down on those seeking "double tax relief".</p>
        <p>The move will hit hundreds of thousands of people, aged 55 and over, who have used the new "pension freedoms" available since April 2015 and taken cash from their pension pots.</p>
        <p>Philip Hammond said the "money purchase annual allowance" - the amount you can save into a pension in a year - will fall for people once they have accessed their savings. Currently people in this position - said to be "taking benefits" - can contribute
          £10,000 a year into a pension. They will obtain tax relief on these contributions at their highest income tax rate.</p>
        <p>But to close the loophole, the Chancellor will cut the amount that can be paid into pensions in these circumstances from £10,000 to £4,000 from April 2017. The Government will consult on the details.</p>
        <p>Before you access your private pension saving for the first time, your "annual allowance" permits up to £40,000 to be saved a year into pensions. The Government has left this limit unchanged.</p>
        <p>It has also left the "lifetime allowance" - the amount you can save into a pension in total - unchanged at £1m.</p>
        <p>Mr Hammond said: "For pensions that have been drawn down I will also reduce to £4,000 the money purchase annual allowance to prevent inappropriate double tax relief being gained."</p>
        <p>The Government spend billions of pounds a year topping up pension contributions via tax relief. Tax relief is based on your income tax bracket, so higher earners receive more back from the state for every pound they save through a pension.</p>
        <p>In the first year of the pension freedoms, between April 2015 and April 2016, around 300,000 people made use of the new rules and accessed their pension pot in some way - the figure will be far higher by now.</p>
        <p>This could have been to buy an annuity, take a cash lump sum, or take some income and leave the rest invested.</p>
        <p>For those yet to begin drawing on their pension, they may still be caught by the new "taper" rule (see box, below).</p>

        <h3>I'm caught by this - what should I do?</h3>

        <p>If you have already triggered the money purchase annual allowance you should consider bringing forward any planned contributions, above £4,000, to before next April when the next limit will come in.</p>
        <p>However, explains Claire Trott, of Technical Connection, the tax specialists, there are some things you can do if you need to access your pensions.</p>
        <p>The lower annual allowance is only triggered when a pension is accessed "flexibly". Crucially, this does not include taking tax free cash and leaving the rest of your money untouched or buying a flat or escalating annuity.</p>
        <p>If your provider allows it, you can also use the "small pots" rule - this allows you to take three separate pots worth less than £10,000 each and retain the full £40,000 allowance. </p>
        <p>Ms Trott also noted the lack of detail on what, if any, the changes mean for people with "defined benefit" pensions.</p>
        <p>Elsewhere, the Chancellor also pledged to keep the "triple lock" on the state pension in place. This measure (see full article) protects the value of state pension payments from losing purchasing power.</p>

        <p>Author: <strong>Sam Brodbeck</strong>, The Telegraph</p>
        <p><a href="http://www.telegraph.co.uk/pensions-retirement/tax-retirement/autumn-statement-closes-pension-tax-relief-loophole-over-55s/?WT.mc_id=e_DM230823&WT.tsrc=email&etype=Edi_Pfi_New_Mon&utm_source=email&utm_medium=Edi_Pfi_New_Mon_2016_11_23&utm_campaign=DM230823"
              target="_blank">Click here to read full article</a></p>

        {{> back-button}}
      </div>

    </section>

  {{/replace}}
{{/extend}}
