#about {
  main {
    h2 {
      font-family: $black;
      font-size: 32px;
      line-height: 150%;
      margin: 0 0 32px;
    }
    p {
      font-family: $book;
      font-size: 20px;
      line-height: 150%;
      margin: 20px 0 0;
    }
    #hero {
      background: #191925 url('/assets/img/about/hero@2000x1350.jpg') 87% 50% / cover fixed;
    }
    #intro,
    #outro {
      background: white;
      > div {
        max-width: 700px;
        padding: 150px 20px;
        h2 {
          color: $finsec-royal-blue;
        }
        p {
          color: #303030;
        }
      }
    }
    #profiles {
      background-color: $finsec-ocean-blue;
      > div {
        padding: 0;
        max-width: 1400px;
        @media (min-width: 901px) {
          display: flex;
          flex-flow: row nowrap;
        }
        &#david {
          @media (max-width: 900px) {
            display: flex;
            flex-flow: column-reverse nowrap;
          }
          .img {
            background: url('/assets/img/about/finsecptx-david-ford@2x.jpg') 40% 50% / cover;
          }
        }
        &#scott {
          .img {
            background: url('/assets/img/about/finsecptx-scott-noell@2x.jpg') 50% 50% / cover;
          }
        }
        > div {
          box-sizing: border-box;
          @media (min-width: 901px) {
            width: 50%;
          }
          &.text {
            padding: 70px 40px;
            @media (max-width: 900px) {
              padding: 60px 30px;
            }
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        opacity: 0;
      }
    }
    #process {
      background: $finsec-royal-blue;
      > div {
        padding: 150px 20px;
        h2 {
          color: white;
          text-align: center;
          @media (max-width: 780px) {
            max-width: 420px;
            text-align: left;
          }
          span {
            display: block;
            color: $finsec-baby-blue;
          }
        }
        > ul {
          > li {
            position: relative;
            @media (min-width: 781px) {
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: flex-start;
              height: 140px;
            }
            &:last-child {
              height: auto;
            }
            &.active {
              cursor: pointer;
              h3 {
                -webkit-filter: blur(0px);
              }
              .img {
                img {
                  opacity: 1;
                  -webkit-filter: blur(0px);
                }
              }
              .desc {
                opacity: 1;
                height: auto;
              }
            }
            h3 {
              width: 100%;
              padding-right: 40px;
              text-transform: uppercase;
              font-size: 22px;
              text-align: right;
              -webkit-filter: blur(5px);
              transition: all 500ms ease-out;
              line-height: 150%;
              padding: 34px 40px 33px 0;
              cursor: pointer;
              @media (max-width: 780px) {
                order: 2;
                text-align: left;
                padding: 10px 0 10px 115px;
                height: 100px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
              }
            }
            .img {
              border-radius: 100%;
              border: 3px solid #4c72aa;
              width: 100px;
              height: 100px;
              box-sizing: border-box;
              flex-shrink: 0;
              cursor: pointer;
              @media (max-width: 780px) {
                position: absolute;
                left: 0;
                top: 0;
              }
              img {
                width: 100px;
                height: 100px;
                margin-left: -3px;
                margin-top: -3px;
                opacity: 0;
                transition: all 500ms ease-out;
                -webkit-filter: blur(5px);
              }
            }
            .desc {
              opacity: 0;
              width: 100%;
              padding-left: 36px;
              align-self: flex-start;
              padding-top: 20px;
              transition: opacity 500ms ease-out;
              @media (max-width: 780px) {
                opacity: 1;
                padding: 0 0 60px 115px;
                margin-top: -104px;
                width: auto;
              }
              h4,
              li,
              p {
                line-height: 150%;
                font-size: 18px;
                @media (max-width: 780px) {
                  font-size: 16px;
                }
              }
              h4 {
                color: $finsec-red;
                font-family: $black;
                font-size: 24px;
                @media (max-width: 780px) {
                  margin-bottom: 42px;
                }
              }
              p {
                margin: 0;
              }
              ul {
                list-style: disc;
                padding-left: 20px;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
