#about {
  main {
    h2 {
      font-family: $black;
      font-size: 32px;
      line-height: 150%;
      margin: 0 0 32px;
    }
    p {
      font-family: $book;
      font-size: 20px;
      line-height: 150%;
      margin: 20px 0 0;
    }
    #hero {
      background: #191925 url('/assets/img/about/hero@2000x1350.jpg') 87% 50% / cover fixed;
    }
    #intro,
    #outro {
      background: white;
      > div {
        max-width: 700px;
        padding: 150px 20px;
        h2 {
          color: $finsec-royal-blue;
        }
        p {
          color: #303030;
        }
      }
    }
    #profiles {
      background-color: $finsec-ocean-blue;
      > div {
        padding: 0;
        max-width: 1400px;
        @media (min-width: 901px) {
          display: flex;
          flex-flow: row nowrap;
        }
        &#david {
          @media (max-width: 900px) {
            display: flex;
            flex-flow: column-reverse nowrap;
          }
          .img {
            background: url('/assets/img/about/finsecptx-david-ford@2x.jpg') 40% 50% / cover;
          }
        }
        &#scott {
          .img {
            background: url('/assets/img/about/finsecptx-scott-noell@2x.jpg') 50% 50% / cover;
          }
        }
        > div {
          box-sizing: border-box;
          @media (min-width: 901px) {
            width: 50%;
          }
          &.text {
            padding: 70px 40px;
            @media (max-width: 900px) {
              padding: 60px 30px;
            }
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        opacity: 0;
      }
    }
    #process {
      background: $finsec-royal-blue;
      > div {
        padding: 150px 20px;
        > ul {
          > li {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 140px;
            &:first-child {
              .img {
                img {
                  opacity: 1;
                }
              }
              .desc {
                opacity: 1;
              }
            }
            h3 {
              width: 100%;
              padding-right: 40px;
              text-transform: uppercase;
              font-size: 22px;
              text-align: right;
            }
            .img {
              border-radius: 100%;
              border: 3px solid #4c72aa;
              width: 100px;
              height: 100px;
              box-sizing: border-box;
              flex-shrink: 0;
              img {
                width: 100px;
                height: 100px;
                margin-left: -3px;
                margin-top: -3px;
                opacity: 0;
              }
            }
            .desc {
              opacity: 0;
              width: 100%;
              padding-left: 40px;
              align-self: flex-start;
              padding-top: 55px;
              h4,
              li,
              p {
                line-height: 150%;
                font-size: 18px;
              }
              h4 {
                color: $finsec-red;
                font-family: $black;
                font-size: 20px;
              }
              p {
                margin: 0;
              }
              ul {
                list-style: disc;
                padding-left: 20px;
                margin-top: 20px;
              }
            }
          }
        }
      }
      h2 {
        color: white;
        text-align: center;
        span {
          display: block;
          color: $finsec-baby-blue;
        }
      }
    }
  }
}
