#about {
  // overflow: hidden;
  #coming-soon {
    display: none;
  }
  main {
    #hero {
      background: #191925 url('/assets/img/about/hero@2000x1350.jpg') 87% 50% / cover fixed;
    }
    #intro,
    #outro {
      background: white;
      > div {
        max-width: 700px;
        padding: 150px 20px;
        h2 {
          font-family: $black;
          font-size: 32px;
          line-height: 150%;
          color: $finsec-royal-blue;
          margin: 0 0 32px;
        }
        p {
          font-family: $book;
          font-size: 20px;
          line-height: 150%;
          color: #303030;
          margin-top: 20px;
        }
      }
    }
    #profiles {
      background-color: $finsec-ocean-blue;
      div {
        display: flex;
        flex-direction: row;
        padding: 0;
        div {
          flex-direction: column;
          padding: 60px;
        }
        img {
          width: 50%;
        }
      }
    }
    #what-to-expect {
      background: $finsec-royal-blue;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
          color: white;
          font-size: 26px;
          line-height: 120%;
          margin: 0 auto;
          padding-top: 40px;
          span {
            color: $finsec-baby-blue;
            display: block;
          }
        }
        div {
          position: relative;
          padding-bottom: 70px;
          div:hover .overlay {
            display: block;
          }
          div:hover > div {
            display: block;
          }
          div {
            position: static;
            height: 83px;
            width: 83px;
            margin: 30px 0 0;
            padding: 0;
            h3 {
              position: relative;
              right: 235px;
              bottom: 50px;
              text-transform: uppercase;
              text-align: right;
              width: 300px;
            }
            .overlay {
              position: relative;
              bottom: 111px;
              display: none;
              z-index: 2;
            }
            div {
              position: absolute;
              width: 250px;
              text-align: left;
              left: 130px;
              top: 32px;
              display: none;
              h4 {
                margin-right: auto;
                color: $finsec-red;
              }
              ul {
                list-style: disc;
                line-height: 140%;
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}
