#article {
  header {
    position: relative;
    background: $finsec-royal-blue;
  }
  main {
    h2,
    h3,
    h4,
    p {
      margin-top: 20px;
      a {
        color: $finsec-black-pearl;
        text-decoration: underline;
      }
      strong {
        font-family: $bold;
      }
    }
    section {
      align-items: left;
      margin-bottom: 40px;
      max-width: 1260px;
      div {
        color: black;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        div {
          width: 105px;
          a {
            display: flex;
            margin-top: 20px;
            img {
              width: 40px;
              height: 40px;
            }
            .return {
              display: none;
            }
            h4 {
              color: $finsec-grey;
              padding-left: 10px;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              margin: auto 0;
            }
            &:hover {
              img {
                display: none;
              }
              .return {
                display: block;
              }
              h4 {
                color: $finsec-royal-blue;
              }
            }
          }
        }
        img {
          width: 100%;
          height: auto;
        }
        h2 {
          color: $finsec-royal-blue;
        }
        ul {
          list-style: disc;
          padding-left: 20px;
          li {
            margin: 20px 0;
            line-height: 125%;
          }
        }
      }
    }
  }
}
