body {
  font-family: $book;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  color: $paragraph-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer,
header,
section {
  min-width: 320px;
  > div {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bold;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}
p {
  max-width: 700px;
  line-height: 150%;
}
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
a.button,
button {
  font-family: $medium;
  border: 3px solid white;
  line-height: 150%;
  padding: 12px 30px 9px;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-out;
  background: none;
  outline: 0;
  box-shadow: 0;
  &:hover {
    background: RGBA(255,255,255,0.5);
  }
  &.blue {
    color: $finsec-royal-blue;
    border-color: $finsec-royal-blue;
    &:hover {
      background: rgba($finsec-royal-blue, 0.1);
    }
  }
  &.arrow {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 100%;
    padding: 0;
    transition: all 200ms ease-out;
    &:after,
    &:before {
      position: absolute;
      left: 50%;
      bottom: 31%;
      content: ' ';
      width: 3px;
      height: 25px;
      margin-left: -1.5px;
      background: white;
      transform-origin: bottom;
      border-radius: 6px 6px 0 0;
    }
    &:before {
      transform: rotate(50deg) translateY(1px);
    }
    &:after {
      transform: rotate(-50deg) translateY(1px);
    }
    &:hover {
      transform: translateY(10px);
    }
  }
}
i {
  &.icon {
    position: relative;
    &.arrow {
      &:after,
      &:before {
        position: absolute;
        left: 50%;
        bottom: 31%;
        content: ' ';
        width: 3px;
        height: 25px;
        margin-left: -1.5px;
        background: white;
        transform-origin: bottom;
        border-radius: 6px 6px 0 0;
        transition: all 100ms ease-out;
      }
      &:before {
        transform: rotate(50deg) translateY(1px);
      }
      &:after {
        transform: rotate(-50deg) translateY(1px);
      }
    }
    &.burger {
      display: inline-block;
      width: 16px;
      height: 14px;
      &:after,
      &:before,
      span {
        position: absolute;
        left: 0;
        content: ' ';
        width: 100%;
        height: 2px;
        background: white;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      span {
        top: 50%;
        margin-top: -1px;
      }
    }
  }
}
iframe,
img {
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
  }
}
#hero {
  height: 90vh;
  height: 100vh;
  min-height: 72vw;
  max-height: 1200px;
  > div {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
  }

  // @media (min-width: 1101px) {
  //   min-height: 800px;
  // }
  // @media (max-width: 500px) {
  //   min-height: 550px;
  // }
  h1 {
    font-family: $bold;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
  }
  @media (min-width: 881px) {
    min-height: 700px;
    max-height: 1100px;
    height: 100vh;
  }
  @media (max-width: 880px) {
    min-height: 500px;
    max-height: 800px;
    height: 160vw;
  }
  > div {
    position: relative;
    padding-top: 40px;
  }
}
