#form {
  background: $finsec-royal-blue url('/assets/img/form/bg.jpg') 50% 100% / cover;
  footer,
  header {
    display: none;
  }
  main nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 28px 30px;
    a.logo {
      img {
        // width: 200px;
      }
    }
    h1 {
      font-family: $medium;
      font-size: 22px;
      letter-spacing: 1px;
      margin: 20px 0 30px;
    }
  }
  aside {
    position: fixed;
    right: 0;
    top: 0;
    padding: 28px 30px;
    p {
      font-family: $bold;
      font-size: 20px;
      color: #6b6b99;
    }
    ul {
      li {
        background: #090921;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 20px;
        &.done {
          background: #6b6b99;
        }
      }
    }
  }
  section {
    display: none;
    > div {
      min-height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      max-width: 500px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 60px;

    }
    .buttons {
      margin-top: 10px;
      button {
        font-size: 22px;
        font-family: $bold;
        line-height: 180%;
        &:not(.circle) {
          width: 100%;
        }
        &.circle {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .field {
    margin-bottom: 60px;
    label {
      width: 100%;
      display: block;
      font-family: $bold;
      font-size: 28px;
      line-height: 180%;
      small {
        font-size: 18px;
        display: block;
        line-height: 20px;
      }
    }
    input {
      display: block;
      width: 100%;
      background: none;
      border: 0;
      border-bottom: 2px solid #6f659c;
      font-size: 30px;
      outline: none;
      line-height: 180%;
      box-sizing: border-box;
    }
    &.text {
      position: relative;
      &.done,
      &.focus {
        &:after {
          width: 100%;
          background: white;
        }
      }
      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background: white;
        background: #6f659c;
        transition: 300ms all ease-out;
      }
    }
  }
  #hello {
    display: block;
  }
  ::-webkit-input-placeholder {
    color: #6f659c;
  }

  :-moz-placeholder {
    color: #6f659c;
  }

  ::-moz-placeholder {
    color: #6f659c;
  }

  :-ms-input-placeholder {
    color: #6f659c;
  }
}
