#form {
  background: $finsec-royal-blue url('/assets/img/form/bg.jpg') 50% 100% / cover fixed;
  footer,
  header {
    display: none;
  }
  main nav {
    position: absolute;
    left: 0;
    top: 0;
    padding: 28px 30px;
    h1 {
      font-family: $medium;
      font-size: 22px;
      letter-spacing: 1px;
      margin: 20px 0;
    }
    img {
      width: 240px;
      height: auto;
    }
    a.back {
      display: inline-block;
      &:hover {
        #arrow-right {
          stroke: white;
        }
      }
      svg {
        transform: rotate(180deg);
        #arrow-right {
          transition: stroke 200ms ease-out;
          stroke: $finsec-that-other-blue;
        }
      }
    }
  }
  aside {
    position: absolute;
    right: 0;
    top: 0;
    padding: 28px 30px;
    p {
      font-family: $medium;
      font-size: 24px;
      color: $finsec-that-other-blue;
      margin: 0;
      text-align: center;
      line-height: 100%;
    }
    ul {
      li {
        background: #090921;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 20px;
        &.done {
          background: #6b6b99;
        }
      }
    }
  }
  section {
    display: none;
    > div {
      min-height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      max-width: 440px;
      padding: 220px 0;
    }
    p {
      font-size: 26px;
      margin: 0 0 26px;
      font-family: $bold;
    }
    .buttons {
      margin-top: 10px;
      button {
        font-size: 22px;
        font-family: $bold;
        line-height: 180%;
        &:not(.circle) {
          width: 100%;
        }
        &.circle {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .field {
    margin-bottom: 60px;
    label {
      width: 100%;
      display: block;
      font-family: $bold;
      font-size: 28px;
      line-height: 150%;
      small {
        font-size: 18px;
        display: block;
        line-height: 20px;
      }
    }
    input {
      display: block;
      width: 100%;
      background: none;
      border: 0;
      border-bottom: 2px solid $finsec-that-other-blue;
      font-size: 30px;
      outline: none;
      line-height: 150%;
      box-sizing: border-box;
      margin-top: 10px;
    }
    &.email,
    &.text {
      position: relative;
      &.focus,
      &.has-value {
        &:after {
          width: 100%;
          background: white;
        }
      }
      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background: white;
        background: $finsec-that-other-blue;
        transition: 300ms all ease-out;
      }
    }
    &.select {
      position: relative;
      > div {
        border: 2px solid $finsec-that-other-blue;
        margin-top: 10px;
        transition: 300ms border-color ease-out;
        &:hover {
          > div {
            #arrow-right {
              stroke: white;
            }
          }
        }
        select {
          width: 100%;
          height: 50px;
          background: none;
          border: 0;
          outline: 0;
          font-size: 26px;
          line-height: 180%;
          font-family: $medium;
          appearance: none;
          padding: 2px 30px 0 16px;
          cursor: pointer;
          color: $finsec-that-other-blue;
          &.selected {
            color: #FFF;
          }
        }
        > div {
          position: absolute;
          z-index: -1;
          right: 0;
          bottom: 0;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid $finsec-that-other-blue;
          svg {
            width: 60%;
            #arrow-right {
              transition: 300ms stroke ease-out;
              stroke: $finsec-that-other-blue;
            }
          }
        }
      }
    }
    &.range {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      label {
        margin-bottom: 20px;
      }
      input[type="text"] {
        border: 2px solid $finsec-that-other-blue;
        width: 70px;
        text-align: center;
        line-height: 40px;
        padding-top: 5px;
      }
      input[type="range"] {
        width: 360px;
      }
    }
  }
  #hello {
    display: block;
  }
  #over-55 {
    > div {
      &:first-child {
        padding-bottom: 100px;
      }
      &:last-child {
        background: $finsec-kashmir-blue;
        text-align: center;
        max-width: none;
        min-height: 0;
        padding: 40px;
        p {
          max-width: none;
          margin: 0;
        }
        > div {
          display: flex;
          justify-content: row wrap;
          justify-content: center;
          button {
            margin: 10px;
            font-family: $bold;
          }
        }
      }
    }
  }

  // INPUT PLACEHOLDERS
  ::-webkit-input-placeholder {
    color: $finsec-that-other-blue;
  }

  :-moz-placeholder {
    color: $finsec-that-other-blue;
  }

  ::-moz-placeholder {
    color: $finsec-that-other-blue;
  }

  :-ms-input-placeholder {
    color: $finsec-that-other-blue;
  }

  // INPUT RANGES
  input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid $finsec-that-other-blue;
    border-radius: 2px;
    height: 4px;

    /*required for proper track sizing in FF*/
    width: 300px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: $finsec-that-other-blue;
    border: none;
    border-radius: 2px;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $finsec-that-other-blue;
    margin-top: -10px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $finsec-that-other-blue;
  }

  input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: $finsec-that-other-blue;
    border: none;
    border-radius: 3px;
  }
  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $finsec-that-other-blue;
  }

  /*hide the outline behind the border*/
  input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
  }

  input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $finsec-that-other-blue;
    border-radius: 10px;
  }
  input[type=range]::-ms-fill-upper {
    background: $finsec-that-other-blue;
    border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $finsec-that-other-blue;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $finsec-that-other-blue;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $finsec-that-other-blue;
  }
}
