#home {
  #hero {
    height: 100vh;
    min-height: 700px;
    max-height: 1200px;
    background: #191925 url('/assets/img/landing/hero-bg-london-2000.jpg') 63% 50% / cover;
    background-attachment: fixed;
    @media (max-width: 500px) {
      min-height: 500px;
    }
    > div {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: center;
      padding-top: 82px;
      @media (max-width: 500px) {
        padding-top: 42px;
      }
      h1 {
        font-family: $black;
        font-size: 56px;
        line-height: 120%;
        text-transform: uppercase;
        margin: 0 auto 20px;
        text-shadow: 0 0 10px RGBA(0,0,0,0.5);
        @media (max-width: 1100px) {
          font-size: 5vw;
        }
        @media (max-width: 530px) {
          font-size: 30px;
        }
        span {
          display: block;
          @media (max-width: 500px) {
            font-size: 18px;
            margin-bottom: 8px;
          }
        }
      }
      a {
        font-size: 24px;
        margin-top: 30px;
        padding-top: 1px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px RGBA(0,0,0,0.5);
        border-width: 4px;
        @media (max-width: 500px) {
          line-height: 120%;
          padding: 8px 8px 9px;
          font-size: 7vw;
          margin: 0;
        }
      }
    }
  }
  #intro {
    background: $finsec-ptx-royal-blue;
    @media (min-width: 501px) {
      text-align: center;
    }
    > div {
      padding: 110px 20px;
    }
    h2 {
      font-family: $black;
      font-size: 34px;
      margin: 0 auto;
      line-height: 120%;
      max-width: 560px;
      margin-bottom: 60px;
      @media (max-width: 600px) {
        font-size: 29px;
        margin-bottom: 40px;
      }
      span {
        color: $finsec-ptx-kashmir-blue;
        display: block;
      }
    }
    p {
      margin: 0 auto 40px;
      font-size: 26px;
      line-height: 150%;
      font-family: 'Rick-Medium';
      max-width: 800px;
      margin-bottom: 100px;

    }
    ul {
      display: flex;
      flex-flow: row nowrap;
      li {
        width: 33.3%;
        img {
          width: 130px;
          height: 130px;
          margin: 0 auto 20px;
        }
        h3 {
          font-size: 28px;
          font-family: $bold;
          text-transform: uppercase;
          margin: 26px 0;
        }
        p {
          color: $finsec-ptx-kashmir-blue;
          margin: 0;
          font-size: 20px;
          max-width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
  #keep-informed {
    background: #FFF;
    > div {
      max-width: none;
    }
    h2 {
      color: $finsec-ptx-red;
      font-size: 50px;
      text-transform: uppercase;
      font-family: $black;
      text-align: center;
      margin: 80px 0 40px;
    }
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-bottom: 80px;
      li {
        width: 30%;
        background: #d3d3d3;
        max-width: 400px;
        margin: 2%;
        img {
          width: 100%;
          height: auto;
        }
        h3 {
          margin: 20px;
          text-transform: uppercase;
          font-size: 22px;
        }
        p {
          margin: 20px 20px 60px;
          font-size: 20px;
          font-family: $medium;
        }
        &:last-child {
          background: $finsec-ptx-kashmir-blue;
          padding: 30px;
          box-sizing: border-box;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          p {
            font-size: 26px;
            margin: 10px 0;
            line-height: 150%;
            font-family: $medium;
          }
          a {
            font-size: 24px;
            font-family: $medium;
            text-align: center;
            padding: 1px 0 0;
          }
        }
      }
    }
  }
  #discover {
    background: $finsec-ptx-royal-blue;
    text-align: center;
    > div {
      padding: 150px 20px;
    }
    h2 {
      font-size: 58px;
      font-family: $black;
      line-height: 120%;
      margin: 0 auto 60px;
    }
    ul {
      li {
        margin-bottom: 20px;

        a {
          font-size: 24px;
          padding-top: 1px;
        }
      }
    }
  }
  #get-in-touch {
    position: relative;
    background: $finsec-ptx-kashmir-blue radial-gradient(circle 1200px at 50% 80%, #53779b 0%, #29506f 100%);
    > div {
      position: relative;
      z-index: 1;
      height: 800px;
      max-width: none;
    }
    h2 {
      font-family: $black;
      font-size: 58px;
      line-height: 120%;
      max-width: 820px;
      margin: 90px auto 130px;
      text-align: center;

    }
    .duo {
      position: absolute;
      left: 50%;
      bottom: 0;
      img {
        position: absolute;
        left: -230px;
        bottom: 0;
      }
      .call {
        position: absolute;
        width: 200px;
        left: 0;
        bottom: 0;
        &:after {
          content: ' ';
          position: absolute;
          width: 50px;
          height: 0;
          border-top: 2px dotted white;
          transform: rotate(30deg);
          top: 96px;
          left: 210px;
        }
        &.david {
          left: 290px;
          bottom: 110px;
          &:after {
            width: 70px;
            transform: rotate(150deg);
            top: 34px;
            left: -90px;
          }
        }
        &.scott {
          left: -460px;
          bottom: 190px;
        }
        h3 {
          text-transform: uppercase;
          line-height: 100%;
          white-space: nowrap;
        }
        p {
          font-size: 16px;
          line-height: 150%;
          margin: 10px 0 30px;
        }
        a {
          text-transform: uppercase;
          line-height: 40px;
          padding: 1px 20px 0;
        }
      }
    }
    .address {
      position: absolute;
      bottom: 460px;
      width: 620px;
      text-align: center;
      left: -310px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
