#landing {
  #hero {
    height: 100vh;
    min-height: 700px;
    background: #191925 url('/assets/img/landing/hero-banner-london-2000.jpg') 50% 50% / cover;
    > div {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: center;
      h1 {
        font-weight: $bold;
        font-size: 46px;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        max-width: 660px;
        margin: 0 auto 20px;
        text-shadow: 0 0 10px RGBA(0,0,0,0.5);
        span {
          display: block;
        }
      }
      a {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 30px;
        padding-top: 1px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px RGBA(0,0,0,0.5);
      }
    }
  }
  #intro {
    background: $finsec-ptx-navy;
    text-align: center;
    > div {
      padding: 40px 0;
    }
    h2 {
      font-size: 26px;
      margin: 0 auto;
      span {
        color: $finsec-ptx-blue;
        display: block;
      }
    }
    p {
      margin: 0 auto;
      font-size: 20px;
    }
  }
  #keep-informed {
    background: #FFF;
    h2 {
      color: $finsec-ptx-red;
    }
  }
  #discover {
    background: $finsec-ptx-navy;
  }
  #get-in-touch {
    background: $finsec-ptx-baby-blue;
  }
}
