#disclaimer #privacy-policy {
  overflow: hidden;
  #coming-soon {
    // display: none;
  }
  main {
    background: #11203A;
  }

  h1,
  h2 {
    color: $finsec-royal-blue;
  }
  h1 {
    font-family: $bold;
    text-transform: uppercase;
  }
}
