#services {
  main {
    #hero {
      background: #130c36 url('/assets/img/services/hero@2000x1200.jpg') 14% 10% / cover fixed;
      @media (max-width: 900px) {
        background-attachment: scroll;
      }
    }
    #below-45,
    #below-55,
    #over-55 {
      > div {
        flex-direction: column;
        align-items: center;
        > div {
          flex-direction: row;
          align-items: center;
          margin: 0 auto;
          @media (min-width: 901px) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 12vw 40px;
          }
          @media (max-width: 900px) {
            padding: 20vw 20px;
            max-width: 500px;
          }
          > div {
            &:first-child {
              @media (min-width: 901px) {
                width: 54%;
              }
            }
            &:last-child {
              @media (min-width: 901px) {
                width: 40%;
                max-width: 400px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
              }
            }
          }
        }
      }
      h2 {
        font-size: 32px;
        line-height: 130%;
        margin-right: auto;
        max-width: 492px;
        margin-bottom: 60px;
        span {
          color: $finsec-kashmir-blue;
          display: block;
        }
      }
      ul {
        list-style-type: disc;
        font-size: 19px;
        line-height: 140%;
        padding-left: 20px;
        li {
          margin: 19px 0;
        }
      }
      p {
        font-size: 19px;
        line-height: 140%;
        margin: 19px 0;
      }
      img {
        padding-bottom: 60px;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        @media (max-width: 900px) {
          padding-bottom: 40px;
        }
      }
      a.button {
        width: 100%;
        margin-bottom: 24px;
        text-shadow: none;
      }
    }
    #over-55 {
      background: $finsec-royal-blue;
      h2 {
        @media (max-width: 400px) {
          max-width: 200px;
        }
        span {
          color: $finsec-kashmir-blue;
        }
      }
    }
    #below-55 {
      background: $finsec-ocean-blue;
      h2 {
        @media (max-width: 400px) {
          max-width: 210px;
        }
        span {
          color: $finsec-that-other-blue;
        }
      }
    }
    #below-45 {
      background: $finsec-kashmir-blue;
      > div {
        > div {
          padding-bottom: 6vw !important;
        }
      }
      .disclaimer {
        padding: 0 40px 6vw;
        max-width: none;
        font-style: italic;
        font-size: 15px;
      }
      h2 {
        span {
          color: $finsec-baby-blue !important;
        }
      }
    }
  }
}
