#services {
  #hero {
    height: 100vh;
    min-height: 700px;
    background-image: url("/assets/img/services/hero-phone-boot-bg-2000.jpg");
    background-position: center;
    background-size: cover;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        max-width: 590px;
      }
    }
  }
  #services-1 {
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
      div {
        display: flex;
        flex-direction: column;
        max-width: 420px;
        align-items: flex-start;
        padding: 0 40px;
        h2 {
          font-size: 26px;
          line-height: 120%;
          span {
            color: $finsec-ptx-blue;
            display: block;
          }
        }
        ul {
          list-style-type: disc;
          font-size: 20px;
          line-height: 140%;
          padding-left: 20px;
          li {
            padding-top: 15px;
          }
        }
        p {
          font-size: 20px;
          line-height: 140%;
        }
        a {
          min-width: 250px;
          text-align: center;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 30px;
          padding-top: 1px;
          letter-spacing: 1px;
          text-shadow: 0 0 10px RGBA(0,0,0,.5);
        }
        img {
          padding-bottom: 90px;
        }
      }
    }
  }
  #services-2 {
    background-color: $finsec-ptx-mid;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
      div {
        display: flex;
        flex-direction: column;
        max-width: 420px;
        align-items: flex-start;
        padding: 0 40px;
        h2 {
          font-size: 26px;
          line-height: 120%;
          span {
            color: $finsec-ptx-blue;
            display: block;
          }
        }
        ul {
          list-style-type: disc;
          font-size: 20px;
          line-height: 140%;
          padding-left: 20px;
          li {
            padding-top: 15px;
          }
        }
        p {
          font-size: 20px;
          line-height: 140%;
        }
        a {
          min-width: 250px;
          text-align: center;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 30px;
          padding-top: 1px;
          letter-spacing: 1px;
          text-shadow: 0 0 10px RGBA(0,0,0,.5);
        }
        img {
          padding-bottom: 90px;
        }
      }
    }
  }
  #services-3 {
    background-color: $finsec-ptx-blue;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
      div {
        display: flex;
        flex-direction: column;
        max-width: 420px;
        align-items: flex-start;
        padding: 0 40px;
        h2 {
          font-size: 26px;
          line-height: 120%;
          span {
            color: $finsec-ptx-baby;
            display: block;
          }
        }
        ul {
          list-style-type: disc;
          font-size: 20px;
          line-height: 140%;
          padding-left: 20px;
          li {
            padding-top: 15px;
          }
        }
        p {
          font-size: 20px;
          line-height: 140%;
        }
        a {
          min-width: 250px;
          text-align: center;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 30px;
          padding-top: 1px;
          letter-spacing: 1px;
          text-shadow: 0 0 10px RGBA(0,0,0,.5);
        }
        img {
          padding-bottom: 90px;
        }
      }
    }
  }
  #ask-us {
    background-image: url('/assets/img/services/call-to-action-bg-2000.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    div {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 55px;
        font-weight: 800;
        line-height: 120%;
        max-width: 590px;
        padding: 50px;
      }
      a {
        min-width: 250px;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 30px;
        padding-top: 1px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px RGBA(0,0,0,.5);
      }
    }
  }
  #overview {}
}
