#services {
  #hero {
    height: 100vh;
    background-image: url("/assets/img/services/hero-phone-boot-bg-2000.jpg");
    background-size: cover;
    background-position: 10%;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 40px;
        font-weight: $black;
        line-height: 120%;
        text-transform: uppercase;
        max-width: 590px;
        padding: 0 5px;
      }
      @media (max-width:600px) {
        h1 {
          font-size: 32px;
        }
      }
      @media (max-width:500px) {
        h1 {
          font-size: 25px;
        }
      }
    }
  }
  .layout {
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 100vh;
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 380px;
        align-items: center;
        padding: 0 30px;
        h2 {
          font-size: 26px;
          line-height: 120%;
          margin-right: auto;
          max-width: 460px;
          span {
            color: $finsec-ptx-blue;
            display: block;
          }
        }
        ul {
          list-style-type: disc;
          font-size: 20px;
          line-height: 140%;
          padding-left: 20px;
          li {
            padding-top: 15px;
          }
        }
        p {
          font-size: 20px;
          line-height: 140%;
          margin-right: auto;
        }
        a {
          width: 100%;
          text-align: center;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 30px;
          padding-top: 1px;
          letter-spacing: 1px;
          text-shadow: 0 0 10px RGBA(0,0,0,.5);
        }
        img {
          padding-bottom: 60px;
        }
      }
    }
    @media (max-width:900px) {
      div {
        height: auto;
        flex-wrap: wrap;
        padding: 60px 0;
        div {
          max-width: 600px;
          img {
            padding: 0;
            margin: 15px;
          }
        }
      }
    }
    @media (max-width:500px) {
      div {
        padding: 25px 0;
        div {
          min-width: 0;
          h2 {
            font-size: 20px;
            line-height: 110%;
          }
          li,
          p {
            font-size: 15px;
            line-height: 110%;
          }
          a {
            font-size: 15px;
          }
          img {
            width: 250px;
          }
        }
      }
    }
  }
  #services-1 {
    span {
      color: $finsec-ptx-blue;
    }
  }
  #services-2 {
    background-color: $finsec-ptx-ocean-blue;
    span {
      color: $finsec-ptx-blue;
    }
  }
  #services-3 {
    background-color: $finsec-ptx-blue;
    span {
      color: $finsec-ptx-baby-blue;
    }
  }
  #ask-us {
    background-image: url('/assets/img/services/call-to-action-bg-2000.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    div {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 50px;
        font-weight: $black;
        line-height: 120%;
        max-width: 590px;
        padding-bottom: 40px;
      }
      a {
        min-width: 250px;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: $semi-bold;
        margin-bottom: 30px;
        padding-top: 1px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px RGBA(0,0,0,.5);
      }
      @media (max-width:500px) {
        a {
          font-size: 15px;
          margin-bottom: 15px;
        }
        h2 {
          font-size: 30px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
