// VARIABLES
$font-stack: 'Open Sans', 'OpenSans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$paragraph-color: #2B2626;
$link-color: #ff2929;
$finsec-ptx-navy: #801617;
$finsec-ptx-blue: #A81F23;
$finsec-ptx-red: #8D191C;
