// SASS VARIABLES

$book: 'Rick-Book', sans-serif;
$medium: 'Rick-Medium', sans-serif;
$bold: 'Rick-Bold', sans-serif;
$black: 'Rick-Black', sans-serif;

$finsec-ptx-royal-blue: #11203A;
$finsec-ptx-ocean-blue: #234C6B;
$finsec-ptx-kashmir-blue: #537190;
$finsec-ptx-baby-blue: #AAC7E1;
$finsec-ptx-red: #BF3F3F;
$finsec-ptx-black-pearl: #0d0d13;

$paragraph-color: #FFF;
$link-color: #FFF;
