// SASS VARIABLES

$book: 'Rick-Book', sans-serif;
$medium: 'Rick-Medium', sans-serif;
$bold: 'Rick-Bold', sans-serif;
$black: 'Rick-Black', sans-serif;

$finsec-royal-blue: #0f1d3c;
$finsec-ocean-blue: #234C6B;
$finsec-kashmir-blue: #4c6f93;
$finsec-something-blue: #557ea0;
$finsec-that-other-blue: #557ea0;
$finsec-baby-blue: #a3c7e4;
$finsec-red: #d2232a;
$finsec-black-pearl: #0d0d13;
$finsec-grey: #cececd;

$paragraph-color: #FFF;
$link-color: #FFF;
