<p>To: <strong>UK Pension Specialist Inc</strong><br />
80 Duke of York Square,<br />
London SW3 4LY, United Kingdom</p>

<p> </p>

<p>Subject: <strong>LETTER OF AUTHORITY</strong></p>

<p> </p>

<p>To whom it may concern,</p>

<p>Please accept this letter as my authority for you to release information concerning my pension entitlement to:</p>

<p><strong>FinSec Partners</strong><br />
Tel: +61 8 8357 7840<br />
Fax: +61 8 8373 7600<br />
PO Box 1096 Unley SA 5061, Australia<br />
Email: transfers@finsecptx.com.au<br />
www.finsecptx.com.au</p>

<p>Please also accept this letter as my authority for you to update your records to reflect my correct address details as shown below:</p>

<p>Name: <strong>{$Name}</strong><br />
Maiden name: ${MaidenName}<br />
Date of Birth: {$DateOfBirth}<br />
Current address: {$Street}, <span style="line-height: 20.8px;">{$Suburb}, {$State} {$Postcode}, Australia<br />
Last UK address: {$UKStreet}, {$UKSuburb}, {$UKState} {$UKPostcode}, United Kingdom<br />
Period of fund scheme membership: {$Date1} - {$Date2}</span><br />
Policy / Reference number: {$Reference}<br />
National insurance number: {$NationalInsuranceID}</p>
<br />
Signature:<br />
<br />
<br />
Date:
