{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Keep informed about legislation changes | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}legislation-changes{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>The latest in pension transfer news</h1>
        <div>
          <a href="/keep-me-informed" title="formTitle" class="button big">Keep me informed</a>
        </div>
        <a href="#articles">
          <img src="/assets/img/landing/banner-arrow.svg" alt="" /></a>
      </div>
    </section>

    <section id="articles">
      <div>
        <h2>Keep Informed</h2>
        <ul>
          <li>
            <a href="/legislation-changes/double-tax-relief-loophole-closed">
              <div width="600" height="460">
                <img src="/assets/img/legislation-changes/keepinformed_2.jpg" width="300" height="320" alt="article Autumn Statement closes pension tax relief loophole for over-55s" />
              </div>
              <h3>Autumn Statement closes pension tax relief loophole for over-55s</h3>
              <div>
                <p>23rd November 2016</p>
                <a href="/legislation-changes/double-tax-relief-loophole-closed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
              </div>
            </a>
          </li>
          <li>
            <a href="/legislation-changes/announced-ban-on-pension-cold-callers">
              <div width="600" height="460">
                <img src="/assets/img/legislation-changes/keepinformed_1.jpg" width="300" height="320" alt="article Announced ban on pension cold callers" />
              </div>
              <h3>Announced ban on pension cold callers</h3>
              <div>
                <p>19th November 2016</p>
                <a href="/legislation-changes/announced-ban-on-pension-cold-callers"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
              </div>
            </a>
          </li>
          <li>
            <a href="/legislation-changes/brexit-2016">
              <div width="600" height="460">
                <img src="/assets/img/legislation-changes/keep-informed-article-brexit.jpg" width="300" height="320" alt="article Brexit 2016: A FinSec Comment" />
              </div>
              <h3>Brexit 2016: A FinSec Comment</h3>
              <div>
                <p>28th June 2016</p>
                <a href="/legislation-changes/brexit-2016"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
              </div>
            </a>
          </li>
          <li>
            <a href="/legislation-changes/how-the-federal-budget-2017-will-affect-your-superannuation">
              <div width="600" height="460">
                <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about federal budget 2016-17" />
              </div>
              <h3>How the 2016/17 Federal Budget will affect your superannuation</h3>
              <div>
                <p>26th May 2016</p>
                <a href="/legislation-changes/how-the-federal-budget-2017-will-affect-your-superannuation"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
              </div>
            </a>
          </li>
          <li>
            <a href="/legislation-changes/the-less-is-more-budget">
              <div width="600" height="460">
                <img src="/assets/img/legislation-changes/keep-informed-article-lessismore.jpg" width="300" height="320" alt="article about federal budget 2016-17" />
              </div>
              <h3>The Less is More Budget: A FinSec Verdict</h3>
              <div>
                <p>26th May 2016</p>
                <a href="/legislation-changes/the-less-is-more-budget"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
              </div>
            </a>
          </li>

          <li>
            <a href="/legislation-changes/2016-the-year-of-volatility">
              <div width="600" height="460">
                <img src="/assets/img/legislation-changes/keep-informed-article-market.jpg" width="300" height="320" alt="article about 2016 in financial terms" />
              </div>
              <h3>2016 The Year of Volatility</h3>
              <div>
                <p>29th February 2016</p>
                <a href="/legislation-changes/2016-the-year-of-volatility"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
              </div>
            </a>
          </li>
          <li>
            <a href="/legislation-changes/her-majestys-revenue-and-customs">
              <div width="600" height="460">
                <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article Her Majesty's Revenue and Customs changes" />
              </div>
              <h3>Her Majesty's Revenue and Customs changes</h3>
              <div>
                <p>April 2015</p>
                <a href="/legislation-changes/her-majestys-revenue-and-customs"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
              </div>
            </a>
          </li>

          <li class="ayem-special">
            <p>Keep up to date with all of the current issues affecting UK Pension Transfers</p>
            <a href="/keep-me-informed" title="formTitle" class="button">Keep me informed</a>
          </li>
        </ul>
      </div>
    </section>

    <section id="links">
      <div>
        <h2>Useful links</h2>
        <ul>
          <li><a href="/form" title="{{formTitle}}" class="button">Am I eligible to transfer?</a></li>
          <li><a href="/contact" class="button">Talk to a QROPS specialist</a></li>
          <li><a href="{{pathPensionTransferGuide}}" class="button" target="_blank">Download the pension transfer <nobr>guide (PDF)</nobr></a></li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
