{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Keep informed about legislation changes | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}legislation-changes{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>The latest in pension transfer news</h1>
        <div>
          <a href="{{formLink}}" title="{{formTitle}}" class="button big">Keep me informed</a>
        </div>
        <a href="#articles" class="button arrow"></a>
      </div>
    </section>

    <section id="articles">
      <div>
        <h2>Keep Informed</h2>
        <ul>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article Brexit 2016: A FinSec Comment" />
            <h3>Brexit 2016: A FinSec Comment</h3>
            <div>
              <p>28th June 2016</p>
              <a href="/legislation-changes/brexit-2016"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
            </div>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about federal budget 2016-17" />
            <h3>How the 2016/17 Federal Budget will affect your superannuation</h3>
            <div>
              <p>26th May 2016</p>
              <a href="/legislation-changes/how-the-federal-budget-2017-will-affect-your-superannuation"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
            </div>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about federal budget 2016-17" />
            <h3>The Less is More Budget: A FinSec Verdict</h3>
            <div>
              <p>26th May 2016</p>
              <a href="/legislation-changes/the-less-is-more-budget"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
            </div>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article Her Majesty's Revenue and Customs changes" />
            <h3>Her Majesty’s Revenue and Customs changes</h3>
            <div>
              <p>April 2015</p>
              <a href="/legislation-changes/her-majestys-revenue-and-customs"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
            </div>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about 2016 in financial terms" />
            <h3>2016 The Year of Volatility</h3>
            <div>
              <p>29th February 2016</p>
              <a href="/legislation-changes/2016-the-year-of-volatility"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
            </div>
          </li>
          <li class="ayem-special">
            <p>Keep up to date with all of the current issues affecting UK Pension Transfers</p>
            <a href="/keep-me-informed" title="formTitle" class="button">Keep me informed</a>
          </li>
        </ul>
      </div>
    </section>

    <section id="links">
      <div>
        <h2>Useful links</h2>
        <ul>
          <li><a href="/form" title="{{formTitle}}" class="button">Am I eligible to transfer?</a></li>
          <li><a href="/contact" class="button">Talk to a QROPS specialist</a></li>
          <li><a href="{{pathPensionTransferGuide}}" class="button" target="_blank">Download the pension transfer <nobr>guide (PDF)</nobr></a></li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
