{{#extend "layout"}}

  {{#replace "meta"}}
    <title>About - Finsec PTX</title>
    <meta name="description" content="Get an overview of what Finsec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}keep-informed{{/replace}}

  {{#replace "main"}}

    <section id="overview">
      <div>
        <h1>Keep informed</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
