{{#extend "layout"}}

  {{#replace "meta"}}
    <title>About - Finsec PTX</title>
    <meta name="description" content="Get an overview of what Finsec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}keep-informed{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>The latest in pension transfer news. Get information you can rely on direct to your inbox.</h1>
        <div>
          <a class="button" href="{{formLink}}" title="{{formTitle}}">Keep me informed</a>
          <a href="#features" title="features"></a>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
