{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Keep informed about legislation changes | UK Pension Transfer Experts</title>
    <meta name="description" content="Get an overview of what Finsec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}keep-informed{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>The latest in pension transfer news</h1>
        <div>
          <a href="{{formLink}}" title="{{formTitle}}" class="button big">Keep me informed</a>
        </div>
        <a href="#articles" class="button arrow"></a>
      </div>
    </section>

    <section id="articles">
      <div>
        <h2>Keep Informed</h2>
        <div class="filters">
          <select>
            <option value="" selected>Sort by category</option>
          </select>
          <select>
            <option value="" selected>Sort by category</option>
          </select>
          <input type="text" placeholder="Search">
        </div>
        <ul>
          <li>
            <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-one@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
          <li>
            <img src="/assets/img/landing/post-example-two@2x.jpg" width="300" height="320" alt="article about pension legislation" />
            <h3>Post Heading</h3>
            <p>14th June 2016</p>
            <a href="/keep-informed"><img src="/assets/img/landing/arrow-right.svg" width="40" height="40" /></a>
          </li>
        </ul>
      </div>
    </section>

    <section id="links">
      <div>
        <h2>Useful links</h2>
        <ul>
          <li><a href="{{formLink}}" title="{{formTitle}}" class="button">Am I eligible to transfer?</a></li>
          <li><a href="/contact" class="button">Talk to a QROPS specialist</a></li>
          <li><a href="#" class="button" target="_blank">Download the pension transfer <nobr>guide (PDF)</nobr></a></li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
