{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Her Majesty's revenue and customs, a timeline of change | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}article{{/replace}}

  {{#replace "main"}}

    <section>

      <!-- <h4><a href="/legislation-changes">Keep Informed</a> > Her Majesty's Revenue and Customs changes 2015</h4> -->
      <div>
        {{> back-button}}

        <h2>Her Majesty's revenue and customs, a timeline of change</h2>
        <p>April 2016</p>
        <img src="/assets/img/legislation-changes/finsec-image-post1.jpg" width="560" height="356" alt="" />
        <h3>Far-reaching changes were made by Her Majesty's Revenue and Customs (HMRC – the UK tax office) in April 2015 disallowing thousands of migrants from transferring their UK pension funds to Australia.</h3>
        <p>Representation continues with HMRC and full detail is available from David or Scott.</p>
        <p>Key points are :</p>
        <ul>
          <li>April 2015 – The Pension Age test was introduced by HMRC requiring all QROPS to prohibit access to UK transferred funds before age 55.</li>
          <li>June 2015 – Major Australian superannuation funds change their rules to prohibit access before age 55 and inform HMRC</li>
          <li>July 2015 – HMRC strikes off all Australian schemes citing Australian superannuation legislation that overrides scheme rules does allow early access in limited circumstances.</li>
          <li>July 2015 to May 2015 – Australian scheme seek legal opinion and enter into correspondence with HMRC. Self Managed Funds developed as an alternative for those over age 55.</li>
          <li>June 2016 – HMRC board meet to consider the tax position of UK transfers received by Australian funds after April 2015.</li>
          <li>Late 2016 – HMRC to respond to Australian funds regarding their challenge to HMRC that they do qualify as QROPS</li>
        </ul>
        <p>At FinSec PTX we continually monitor developments and provide input to any party where we believe it is useful to do so.</p>

        {{> back-button}}
      </div>

    </section>

  {{/replace}}
{{/extend}}
