{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Contact - Finsec PTX</title>
    <meta name="description" content="Get in touch">
  {{/replace}}

  {{#replace "body-id"}}contact{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Providing personalised advice Australia wide. Contact our experts</h1>
        <div>
          <h2>David Ford</h2>
          <p>Working in UK Pensions since 1980, David emigrated from the UK to Australia in 1996 and is a leading expert in Pension Transfers to Australia.</p>
          <a class="button" href="tel:+61424777888" title="Call David Ford">Call David</a>
        </div>
        <div>
          <h2>Scott Noel</h2>
          <p>Financial Adviser with 30 years experience, the last 15 as a UK pension transfer specialist.</p>
          <a class="button" href="tel:+61424777888" title="Call David Ford">Call Scott</a>
        </div>
      </div>
    </section>

    <section id="request-call-back">
      <div>
        <h2>Request a call back</h2>
      </div>
    </section>

    <section id="head-office">
      <div>
        <h2>Head Office</h2>
        <p>Level 1, 10 Greenhill Road, Wayville, SA 5034</p>
        <a class="button" href="tel:+61424777888" title="Call Finsec PTX">Call</a>
        <a class="button" href="email:info@finsecptx.com" title="Email Finsec PTX">Email</a>
      </div>
    </section>

    <section id="map">
      <div>
        <h2>Map</h2>
      </div>
    </section>

  {{/replace}}
{{/extend}}
