{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Contact - Finsec PTX</title>
    <meta name="description" content="Get in touch">
  {{/replace}}

  {{#replace "body-id"}}contact{{/replace}}

  {{#replace "main"}}

    <section id="contact">
      <div>
        <h1>Contact</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
