{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Contact | FinSec PTX</title>
    <meta name="description" content="Get in touch">
  {{/replace}}

  {{#replace "body-id"}}contact{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Providing personalised advice Australia wide</h1>
        <a href="#call-back" class="button arrow"></a>
        <div>
          <div>
            <h2>David Ford</h2>
            <p>Working in UK pensions since 1980, David emigrated from the UK to Australia in 1996 and is a leading expert in pension transfers to Australia.</p>
            <a class="button" href="tel:+61428041896" title="Call David Ford"><span class="name">Call David</span><span class="phone">0428 041 896</span></a>
          </div>
          <div>
            <h2>Scott Noell</h2>
            <p>Financial Adviser with 30 years experience, the last 15 as a UK pension transfer specialist.</p>
            <a class="button" href="tel:+61400544515" title="Call David Ford"><span class="name">Call Scott</span><span class="phone">0400 544 515</span></a>
          </div>
        </div>
      </div>
    </section>

    <section id="call-back">
      <div>
        <h2>Request call back</h2>
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Phone" name="phone">
        <input type="text" placeholder="Preferred time" name="prefferred-time">
        <button>Call me</button>
      </div>
    </section>

    <section id="head-office">
      <div>
        <div>
          <h2>National Office</h2>
          <p>Level 1, 10 Greenhill Road,
            <nobr>Wayville, SA 5034</nobr>
          </p>
          <p>Phone: <a href="tel:1300907370" target="_blank">1300 907 370</a> - <a href="mailto:ptx@finsecpartners.com.au" target="_blank">ptx@finsecpartners.com.au</a></p>
        </div>
        <div>
          <a class="button blue" href="tel:1300907370" title="Call FinSec PTX">Call</a>
          <a class="button blue" href="email:transfers@finsecptx.com" title="Email FinSec PTX">Email</a>
        </div>
      </div>
    </section>

    <section id="map">
      <a href="https://www.google.com.au/maps/place/1%2F10+Greenhill+Rd,+Wayville+SA+5034/@-34.9424721,138.5506493,13z/data=!4m5!3m4!1s0x6ab0cf0ec299d399:0x6743ca31c1cfb55a!8m2!3d-34.9424765!4d138.5856682" target="_blank"></a>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52329.019966655804!2d138.5506492774925!3d-34.94247648037302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf0ec299d399%3A0x6743ca31c1cfb55a!2s1%2F10+Greenhill+Rd%2C+Wayville+SA+5034!5e0!3m2!1sen!2sau!4v1467890350741"
          width="1200" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

  {{/replace}}
{{/extend}}
