{{#extend "layout"}}

  {{#replace "meta"}}
    <title>How 2016/17 Federal Budget will affect your superannuation | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}article{{/replace}}

  {{#replace "main"}}

    <section>
      <!-- <h4><a href="/legislation-changes">Keep Informed</a> > 2016/17 Federal Budget</h4> -->
      <div>

        <div>
          <a href="../"><img src="/assets/img/arrow-left.svg" alt="" /></a>
          <!-- <a href="#"><img src="/assets/img/arrow-left-hover.svg" alt="" /></a> -->
          <h4>Back</h4>
        </div>

        <h2>The 2016/17 Australian Federal Budget</h2>
        <p>26th May 2016</p>
        <img src="/assets/img/legislation-changes/finsec-image-post1.jpg" width="560" height="356" alt="" />
        <h3>For us, the big story out of Budget 2016 is of course Morrison's crackdown on high-end super tax concessions.</h3>
        <p>Ten years on from Costello's tax-free super savings and now, on the other side of the resources boom, Morrison has redefined the purpose of super as a substitute or supplement to the welfare safety net of the aged pension, not a vehicle for wealth
          accumulation or bequests. Whilst we welcome the fairness measures and in particular applaud those initiatives that help low-income earners and those with low superannuation balances, we do not look favourably on any announcement that proposes
          change retrospectively or that may be counterproductive to a person's ability to save for a secure and dignified retirement.</p>
        <p>It has now been three weeks sice Budget night, but three eventful weeks in the context of understanding the motives and the landscape surrounding the proposals. We have heard from the various sides of the election campaign and now have a sense
          of what will go through and what might be 'retrospectively argued away'. As is customary at FinSec, we have opted to wait and deliver a succinct report, focusing only on the information relevant to the financial advice we provide. As always,
          if you have questions relating to your personal circumstances, we encourage you to contact us so that we can discuss the proposed changes in greater detail.</p>
        <p>But do not forget, at this stage the proposals are only announcements a lot may change as the legislation navigates both an election and the political process thereafter.</p>
        <p><a href="http://www.finsecpartners.com.au/wp-content/uploads/2016/06/201617-Federal-Budget-Report.pdf">Click here to read full report</a></p>

        <div>
          <a href="../"><img src="/assets/img/arrow-left.svg" alt="" /></a>
          <!-- <a href="#"><img src="/assets/img/arrow-left-hover.svg" alt="" /></a> -->
          <h4>Back</h4>
        </div>

      </div>

    </section>

  {{/replace}}
{{/extend}}
