{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Brexit 2016: A FinSec Comment | FinSec PTX</title>
    <meta name="description" content="Get an overview of what FinSec PTX can do for you. In short we specialise in transfering UK pensions to Australian superannuations.">
  {{/replace}}

  {{#replace "body-id"}}article{{/replace}}

  {{#replace "main"}}

    <section>

      <!-- <h4><a href="/legislation-changes">Keep Informed</a> > Her Majesty's Revenue and Customs changes 2015</h4> -->
      <div>
        {{> back-button}}

        <h2>Brexit 2016: A FinSec Comment</h2>
        <p>28 June 2016</p>
        <img src="/assets/img/legislation-changes/keep-informed-article-brexit-sml.jpg" width="560" height="356" alt="" />
        <h3>This is not the update we expected to be sending.</h3>
        <p>We have now had a few days to digest the fallout from a remarkable referendum result. The world is looking at Britain and asking: What on earth has happened? Those tasked with running Britain are asking the same question.</p>
        <p>Trillions have been wiped off the sharemarkets and on Friday the ASX posted it's worst day since August last year. Yesterday things stabilized, today local shares are poised to drop following a fall in the Australian dollar and as for tomorrow
          we will have to wait and see.</p>
        <p>But it wasn't economic decisions that, in the end, swayed the outcome of Britain's historic vote to leave the EU. In fact the Brexit was backed by barely a quarter of the government and by not even a tenth of Labour politicians. It was a very
          British revolution. A revolution based on emotion and the protection of it's borders and one that highlighted the stark social divide the campaign exposed.</p>
        <p>At FinSec PTX we continually monitor developments and provide input to any party where we believe it is useful to do so.</p>
        <p>Seldom has the United Kingdom looked less united: London and Scotland voted to stay in the EU, Wales and the English shires voted to get out. According to one Wall Street Journal report some 70% of university graduates were in favor of the EU;
          an equally disproportionate 68% of those who hadn't finished high school were against it. Londoners and those under age 30 were strongly for Remain; the northern English and those over 60 were strongly for Leave. An astonishing 70% of the skilled
          working class supported Brexit. It's a familiar battle line and representative of the socioeconomic conflict being fought throughout the Western world – in short; the winners of globalisation versus the unintended losers.</p>
        <p><a href="http://www.finsecpartners.com.au/brexit-2016-finsec-comment/" target="_blank">Click here to read full report</a></p>

        {{> back-button}}
      </div>

    </section>

  {{/replace}}
{{/extend}}
tend}}
